*{ 
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
}

.top{
    background-color: rgb(255, 255, 255) ;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .cuadrado {
    width: 50vh;
    height: 5vh;
    background-color:rgb(222, 119, 81)

    }
}


.middle{ 
    background-color: rgb(161, 210, 226) ;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: left;
    align-items: center;


    .cuadrado {
        background-color: rgb(106, 173, 204);
        width: 20vh;
        height: 20vh;
        margin-left: 12vh;
            }

    .titulos {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-left: 12vh;
    margin-bottom: 5vh;

    .hablar{
            background-color: rgb(104, 104, 105);
            width: 50vh;
            height: 4vh;
        
        }

    .charlar {
        background-color: rgb(255, 255, 255);
        width: 50vh;
        height: 1vh;
        
    }

    .charlar_one {
            background-color: rgb(255, 255, 255);
            width: 50vh;
            height: 1vh;
    }

    .charlar_two {
        background-color: rgb(255, 255, 255);
        width: 30vh;
        height: 1vh;
    }
    }
} 


.bottom {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 40vh;

    .tres {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5vh;
        

        .cuadrado {
        background-color: rgb(238, 115, 115);
        width: 18vh;
        height: 18vh;
        }
        
        .cuadrado_one {
        background-color: rgb(129, 189, 193);
        width: 18vh;
        height: 18vh;
        }

        .cuadrado_two {
            background-color: rgb(219, 182, 96);
            width: 18vh;
            height: 18vh;
        }
    }
    .rayas {
        .rayita{}

        .rayita_one{}

        .rayita_two{}

        .rayita_tree{}

        .rayita_forth{}
        
        .rayita_cinc {}
            
        .rayita_set{}
            
        .rayita_huif{}            
        
        .rayita_neuf {}
    }

    
    }